@font-face {
    font-family: 'against';
    src: url(/fonts/against-Regular.woff2) format('woff2'),
        url(/fonts/against-Regular.woff) format('woff');
}

@font-face {
    font-family: "confort";
    src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
    font-display: swap;
}

html {
    height: fit-content;
}

html,
body,
main {
    width: 100%;
    margin: 0;
}

body,
main {
    height: 100%;
}

body {
    background: #FBFAFA
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

@media (min-width: 900px) {
    .app-container {
        flex-direction: row;
        height: auto;
        min-height: 100vh;
        min-height: 100dvh;
    }
}
a {
    cursor: pointer;
}

:root {
    --orange: #B34F1E;
    --lightOrange: #FDF3EF;
    --gray: #4F4F4F;
    --borderGray: #80808070;
}
