html, body, main{
    width: 100%;
    height: 100%;
}

main{
    background: rgb(120, 0, 0);    
}


@font-face {
    font-family: 'against';
    src: url(../fonts/against-Regular.woff2) format('woff2'),
         url(../fonts/against-Regular.woff) format('woff');
}

/* Parte de testes do backend */

body>div{
    zoom: 50%;
    animation: fadeout 1s ease-out forwards;
    animation-delay: 2s;
}

@keyframes fadeout {
    from {
        opacity: .35;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}