.accesses{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px
}

.accesses-content{
    width: calc(100% - 64px);
}

.accesses-content h2{
    font-family: "confort";
    font-weight: bolder;
    margin-bottom: 15px
}

.access-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.access{
    width: calc(50% - 7px);
    height: 80px;
    background: white;
    border: 1px solid #80808070;
    display: flex;
    border-radius: 11px;
}

.access-picture{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background: blue; */
}

.access-picture *{
    margin-top: 10px;
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
}


.access-text{
    /* justify-content: center; */
    margin-top: 11px;
    width: 80%
}

.access-text h3{
    font-family: "confort";
    margin-bottom: 5px;
}

.access-text p{
    font-family: "confort";
    font-size: 9px;
}

.access-arrow{
    /* background: red; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(min-width: 900px){
    .access-picture{
        width: 30%
    }

    .access-picture *{
        margin-top: 8px;
        width: 60px;
        height: 60px;
    }

    .access{
        max-width: 290px;
        height: 110px;
        cursor: pointer
    }

    .access-list{
        justify-content: flex-start;
        gap: 15px
    }

    .access-text{
        width: 55%;
        margin-top: 20px;
    }

    .access-text p{
        color: #9A9A9C
    }
}