.homePage {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    /* background: url(../../images/off-white.png); */
    background-size: contain;
}

.homePage-main-header-expand{
    color: white;
}