:root{
    --background-opacity: 1;
    --highlight-color: #BD5C27;
}

html, body, main{
    width: 100%;
    height: 100%;
}

/* main{
    
} */


@font-face {
    font-family: 'against';
    src: url(/fonts/against-Regular.woff2) format('woff2'),
         url(/fonts/against-Regular.woff) format('woff');
}

@font-face{
    font-family: "candara";
    src: url(/fonts/Candara.ttf);
}

@font-face{
    font-family: "griff";
    src: url(/fonts/Griffiths.otf);
}

@font-face{
    font-family: "confort";
    src: url(/fonts/Comfortaa-Regular.ttf);
}

@font-face{
    font-family: "vogue";
    src: url(/fonts/Vogue.ttf);
}

@font-face{
    font-family: "awelier";
    src: url(/fonts/awelier.otf);
}

@font-face{
    font-family: "awelierLight";
    src: url(/fonts/awelier-light.otf);
}

/* Parte de testes do backend */

body>div{
    zoom: 50%;
    animation: fadeout 1s ease-out forwards;
    animation-delay: 2s;
}

body{
    background: url(/images/off-white.png);
}

@keyframes fadeout {
    from {
        opacity: .35;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}