.homePage-main {
    position: absolute;
    height: 100%;
    width: 100%;
}

.homePage-about {
    background: url(../../homePage/homePage-about-image.png);
    background-size: cover;
    background-position: center center;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homePage-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 45%, transparent 93%)
}

.homePage-about-content {
    width: calc(100% - 50px);
    height: 69%;
    margin-top: 55px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.homePage-about-content h1 {
    /* width: 60%; */
    font-size: 20px;
    font-family: serif;
    line-height: 22px;
    position: relative;
    color: #141616
}

.homePage-about-content h1::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    bottom: -18px;
    background-color: var(--highlight-color);
}

.homePage-about-content h1 span{
    font-family: 'awelier-light', serif;
}

.homePage-about-content p {
    font-size: 8px;
    line-height: 13px;
    color: #141616;
    font-family: 'confort';

}

.hightlight {
    color: var(--highlight-color);
    font-style: italic;
    font-size: 20px;
}

#meetButton {
    background: var(--highlight-color);
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'confort';
    font-size: 9px;
}

.homePage-project {
    width: 100%;
    height: 250px;
    background: url(../../homePage/homePage-project-image.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homePage-project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000b5 0%, #000000a1 40%, transparent 93%);
}


.homePage-project-content {
    z-index: 2;
    width: calc(100% - 50px);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.homePage-project-content h3 {
    font-family: 'confort';
    text-transform: uppercase;
    font-size: 9px;
    color: var(--highlight-color)
}

.homePage-project-content h1 {
    font-family: 'awelier-light', serif;
    font-size: 25px;
    width: 175px;
    line-height: 32px;
    position: relative;
}

/* .homePage-project-content h1::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    bottom: -7px;
    background: rgba(255, 255, 255, 0.566);
} */

.homePage-project-content p {
    font-size: 8px;
    width: 180px;
    line-height: 15px;
    font-family: 'confort';
}

#viewProject{
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewProjectText{
    font-family: 'confort';
    font-size: 7px;
    text-transform: uppercase;
    color: white;
    position: relative;
}

#viewProjectText::before{
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 1px);
    background-color: white;
    bottom: -4px;
    left: 1px;
}

#viewProjectArrow{
    margin-left: 8px;
}

.homePage-iconBar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.homePage-iconBar-content {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconBar-item{
    flex-direction: column;
    width: calc(25% - 13px);
    height: 80%;
    display: flex;
    align-items: center;
}

.iconBar-item-image{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: baseline;
}

.iconBar-item-image img{
    flex-shrink: 0;
    object-fit: contain;
    width: 40px;
    height: auto;
}

.iconBar-item-title{
    width: 100%;
    /* background-color: red; */
    text-align: center;
    font-family: 'confort';
    font-size: 8px;
    color: #141616;
    line-height: 13px;
}

.iconBar-item-text{
    width: 100%;
    text-align: center;
    font-family: 'confort';
    font-size: 6px;
    color: #141616;
    margin-top: 5px;
    line-height: 9px;
}

.iconBar-item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}