.homePage {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/grafite.png);
    background-size: contain;    
}


/* Navegação, refatorar: */
/* .homePage-navigation {
    color: white;
    position: absolute;
    top: 45px;
    right: 30px;
    font-family: 'candara';

    width: fit-content;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    gap: 15px;
    opacity: 0;
}

.homePage-navigationItem {
    cursor: pointer;
    font-size: 23px;
} */