.homePage-main {
    position: absolute;
    height: 100%;
    width: 100%;
}

.homePage-about {
    background: url(../../homePage/homePage-about-image.png);
    background-size: cover;
    background-position: center center;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homePage-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background: linear-gradient(90deg, #F9F6F0 0%, #F9F6F0 45%, transparent 72%)
}

.homePage-about-content {
    width: calc(100% - 50px);
    height: 69%;
    margin-top: 55px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.homePage-about-content h1 {
    /* width: 60%; */
    font-size: 20px;
    font-family: serif;
    line-height: 22px;
    position: relative;
    color: #141616
}

.homePage-about-content h1::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: -19px;
    background-color: var(--highlight-color);
}

.homePage-about-content h1 span{
    font-family: 'awelier-light', serif;
}

.homePage-about-content p {
    font-size: 7px;
    line-height: 12px;
    color: #141616;
    font-family: 'confort';

}

.hightlight {
    color: var(--highlight-color);
    font-style: italic;
    font-size: 20px;
}

#meetButton {
    background: var(--highlight-color);
    color: white;
    text-transform: uppercase;
    padding: 9px 12px;
    font-family: 'confort';
    font-size: 7px;
}

.homePage-project {
    width: 100%;
    height: 250px;
    background: url(../../homePage/homePage-project-image.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homePage-project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000f7 0%, #000000a1 40%, transparent 93%);
}


.homePage-project-content {
    z-index: 2;
    width: calc(100% - 50px);
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.homePage-project-content h3 {
    font-family: 'confort';
    text-transform: uppercase;
    font-size: 7px;
    color: var(--highlight-color)
}

.homePage-project-content h1 {
    font-family: 'awelier-light', serif;
    font-size: 25px;
    width: 175px;
    line-height: 32px;
    position: relative;
}

.homePage-project-content h1::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    bottom: -7px;
    background: var(--highlight-color)
}

.homePage-project-content p {
    color: #d6d6d6;
    font-size: 7px;
    width: 160px;
    line-height: 13px;
    font-family: 'confort';
}

#viewProject{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#viewProjectText{
    font-family: 'confort';
    font-size: 7px;
    height: 4px;
    text-transform: uppercase;
    color: #d6d6d6;
}

#viewProject::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    /* background-color: white; */
    background-color: var(--highlight-color);
    bottom: -1px;
    /* left: 1px; */
}

#viewProjectArrow{
    margin-left: 8px;
    color: #d6d6d6
}

.homePage-projectList{
    width: 100%;
    height: 130px;
    /* background: red; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.homePage-projectList-content{
    width: calc(100% - 50px);
    height: 100%;
    /* background: blue */
}

.projectList-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.projectList-header h3{
    font-family: 'confort';
    font-size: 7px;
    text-transform: uppercase;
    color: var(--highlight-color);
}

#viewAllProjects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#viewAllProjects .viewAllProjectsButton::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: var(--highlight-color);
    bottom: -2px;
}

.viewAllProjectsButton{
    font-family: 'confort';
    font-size: 6px;
    text-transform: uppercase;
    color: #141616;
    position: relative;
}

.viewAllProjectsArrow{
    font-size: 10px;
    color: var(--highlight-color);
    margin-left: 7px;
}

.projectList-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.projectList-project{
    width: calc(33% - 7px);
    height: 100%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #40404017;
    border-left: 1px solid #40404017;
}

.projectImage{
    height: 65%;
    width: 100%;
    background: pink
}

.projectInfo{
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.projectInfo h4{
    margin-top: 5px;
    font-family: 'confort';
    font-size: 7px;
    text-transform: uppercase;
}

.projectInfo p{
    /* margin-top: 5px; */
    font-family: 'confort';
    font-size: 7px;
    color: #141616;
}
